body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;

    /* Center everything horizontally */
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.container {
    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ffee00;
}

button {
    width: 100%;
    padding: 12px;
    background: #00f2ff;
    color: rgb(59, 59, 57);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #00eaff;
}
